/node_modules
/public/hot
/public/storage
/public/*.xml
/public/*.html
/public/*.config
/storage/*.key
/storage/*.index
/vendor
.env
.env.backup
.htaccess
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

**/caddy
frankenphp
frankenphp-worker.php
